<mat-toolbar class="mat-elevation-z6">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>RECs Marketplace</span>
    <span class="spacer"></span>

    <a mat-button routerLink='/home'>Home</a>
    <a mat-button routerLink='/dashboard'>Dashboard</a>
    <a mat-button routerLink='/products'>Products</a>
    <a mat-button routerLink='/cart' matBadge='{{totalItem}}' matBadgeOverlap="true" matBadgePosition="before" matBadgeSize="small">
      <!-- <span *ngIf="totalItem!=0" matBadge='{{totalItem}}' matBadgeOverlap="true" matBadgePosition="after" matBadgeSize="small"></span> -->
      Cart</a>
    <button mat-raised-button color="warn" routerLink='/login' *ngIf="!isLoggedIn">Login</button>
    <button mat-raised-button color="primary" routerLink='/home' *ngIf="isLoggedIn" (click)='logout()'>Logout</button>
    <a mat-button *ngIf="!isLoggedIn">Sign Up</a>
  </mat-toolbar-row>
</mat-toolbar>
